body, html, ul {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

a {
    color: #08dcb2;
}
a:hover {
    color: #ff6b6b;
}
a:active {
    color: #fe016b;
}
a:visited {
    color: #a7dbd8;
}

nav {
    width: 260px;
    font-family: Consolas, monospace;
    font-size: 26px;
    text-transform: lowercase;
    text-align: right;
    flex: 1 0 auto; /* prevent main content container from shrinking the navigation bar */
}
#fixed {
    width: 260px;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin-top: 24px;
    margin-right: 24px;
}

nav li {
    margin-bottom: 16px;
}

nav a, nav a:visited {
    color: #777;
    text-decoration: none;
}
nav a:hover {
    color: #999;
}
nav a:active {
    color: #555;
}

nav a.current {
    color: black;
}

#top {
    height: 140px;
    background: black;
    position: relative;
}
#top a {
    color: white;
    vertical-align: bottom;
    position: absolute;
    bottom: 16px;
    right: 24px;
}

main {
    margin-top: 140px;
    padding: 24px 200px 0 24px;
    font-family: Lato, sans-serif;
    font-size: 19px;
    color: #777;
    line-height: 1.4;
    width: 100%;
}

main p:first-child {
    margin-top: 0;
}

main img {
    max-width: 100%;
}

.portfolio-grid a {
    position: absolute;
}
.portfolio-grid a img {
    width: 320px;
    height: 200px;
}
.portfolio-grid a span {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
}

article img {
    border: 1px solid grey;
}
