<!DOCTYPE html>
<html>
    <head>
        <title>Alexis Anand</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav>
            <div id="fixed">
            <div id="top"><a href="/">Alexis Anand</a></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
        </nav>
        <main>
            {{ content }}
        </main>
    </body>
</html>
